---
import { queryCMS } from '../lib/cms';
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import BlogPostCard from '../components/BlogPostCard.astro';
import Heading from '../components/Heading.astro';
import Line from '../components/Line.astro';
import TestimonialShowcase from '../components/TestimonialShowcase.astro';

const query = `
  query {
    profile {
      name
      headline
      shortBio
      profileImage {
        url
        alt
      }
      hireMe {
        label
        href
      }
    }
    allProjects(first: 3, orderBy: _createdAt_DESC) {
      id
      title
      slug
      categories {
        title
        slug
      }      
      media {
        responsiveImage(imgixParams: { fit: max, auto: format }) {
          src
          width
          height
          alt
          title
          base64
        }
      }
    }
    allBlogs(first: 3, orderBy: _createdAt_DESC) {
      id
      title
      slug
      categories {
        title
        slug
      }      
      featuredImage {
        responsiveImage(imgixParams: { fit: max, auto: format }) {
          src
          width
          height
          alt
          title
          base64
        }
      }
    }
    home {
      _seoMetaTags {
        tag
        attributes
        content
      }           
    }
  }
`;

const { profile, allProjects, allBlogs, home } = await queryCMS(query);
---

<Layout additionalSeo={home._seoMetaTags}>
  <div class="container mx-auto px-4 py-8">

    <section class="">
      <Line />            
      <Heading index="01" text="Dmitri Honcharenko" />      
      <Line />          
      <div  class="md:col-span-2 flex flex-col justify-center items-start">
        <h2 class="text-6xl font-bold mb-4 uppercase">{profile.name}</h2>
        <p class="text-2xl mb-4 bg-foreground text-background inline-block p-2">{profile.headline}</p>
        <p class="mb-4 text-lg">{profile.shortBio}</p>
        <a href={profile.hireMe.href} class="inline-block border border-foreground px-8 py-4 text-2xl hover:bg-foreground hover:text-background transition-colors uppercase">{profile.hireMe.label}</a>
      </div>
      <div class="md:col-span-1">
        <img src={profile.profileImage.url || "/placeholder.svg"} alt={profile.profileImage.alt} class="w-full h-auto border border-border" />
      </div>
    </section>

    <section class="">
      <Line />            
      <Heading index="02" text="Latest Projects" />      
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {allProjects.map((project) => (
          <ProjectCard project={project} />
        ))}
      </div>
    </section>

    <section class="">
      <Line />            
      <Heading index="03" text="Testimonials" />      
      <TestimonialShowcase />
    </section>

    <section class="">
      <Line />            
      <Heading index="04" text="Recent Blog Posts" />
      <div class="grid grid-cols-1 md:grid-cols-3 gap-3 px-4">
        {allBlogs.map((blogPost) => (
          <BlogPostCard blogPost={blogPost} />
        ))}
      </div>
    </section>

  </div>
</Layout>
