---
const { project } = Astro.props;
---

<article class="h-full flex flex-col border border-border hover:border-white p-4">
  {project.media && project.media[0] && (
    <img 
      src={project.media[0].url || "/placeholder.svg"} 
      alt={project.media[0].alt || project.title} 
      class="w-full h-48 object-cover mb-4"
    />
  )}
  <h3 class="text-xl font-semibold mb-2">
    <a 
    href={`/projects/${project.slug}`} 
    class="inline-block py-2"
  >
    {project.title}
    </a>
  </h3>
  {project.excerpt && <p class="text-muted-foreground mb-4">{project.excerpt}</p>}
  {project.categories && project.categories.length > 0 && (
    <ul class="flex flex-wrap gap-2 mb-4">
      {project.categories.map(category => (
        <li class="bg-muted text-muted-foreground px-3 py-1 text-sm">
          <a href={`/categories/${category.slug}`}>{category.title}</a>
        </li>
      ))}
    </ul>
  )}    
</article>
