---
import { Image } from '@datocms/astro';
const { project } = Astro.props;
---

<article class="h-full flex flex-col border border-border hover:border-white p-4">
  {project.media && project.media[0] && (
    <Image
      data={project.media[0].responsiveImage}
      pictureClass="w-full mb-4"
    />
  )}
  <h3 class="text-xl font-semibold mb-2">
    <a 
    href={`/projects/${project.slug}`} 
    class="inline-block py-2"
  >
    {project.title}
    </a>
  </h3>
  {project.excerpt && <p class="text-muted-foreground mb-4">{project.excerpt}</p>}
  {project.categories && project.categories.length > 0 && (
    <ul class="flex flex-wrap gap-2 mb-4">
      {project.categories.map(category => (
        <li class="bg-muted text-muted-foreground px-3 py-1 text-sm">
          <a href={`/categories/${category.slug}`}>{category.title}</a>
        </li>
      ))}
    </ul>
  )}    
</article>
